@model SGAL.Web.Models.CondicaoTempo
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div>
    <label>Situação: @Model.Situacao</label><br/>
    <label>Data Situação: @Model.Data</label><br/>
    <label>Código Situação: @Model.Codigo</label><br/>
</div>
