@model SGAL.Web.Models.ComentarioView

@{
    ViewBag.Title = "Comentário";
}

<h2>Comentário</h2>


@using (Html.BeginForm(new { idMontagem = ViewBag.Montagem.MontagemID }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Comentario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TextoComentario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextoComentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TextoComentario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index", new { idMontagem = ViewBag.Montagem.MontagemID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
